<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="Info_File" filename="unittest-info.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <!-- log messages specific to weblyzard-lib -->
    <Logger name="com.weblyzard.lib.graph" level="info" additivity="false">
      <AppenderRef ref="Info_File"/>
    </Logger>
    <Logger name="com.weblyzard.lib" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <!-- all other log messages -->
    <Root level="warn">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
